:root {
    --border-color: #696969;
    --focus-outline-color: #1e5aff;
}

body {
    display: flex;
}

/* Remove dotted focus outline on buttons for Firefox */
button::-moz-focus-inner {
    border: 0;
}

input, button {
    vertical-align: bottom;
    box-sizing: border-box;
    border: 1px solid var(--border-color);
    outline: none;
}

label {
    display: block;
    font-weight: bold;
    margin-bottom: 2px;
}

input {
    height: 30px;
    padding: 0 4px;
}

button {
    cursor: pointer;
    padding: 0;
}

span {
    display: flex;
}


.factor-buttons:focus, input:focus, button:focus {
    outline: 2px solid var(--focus-outline-color);
}
#AddFactorToExcludeButton:focus {
    z-index: 1;
    border: none;
    height: 28px;
    margin-top: 1px;
}
#AddFactorToIncludeButton:focus, .chosen-number button:focus {
    outline-offset: -1px;
}
input:focus {
    outline-offset: -1px;
    z-index: 1;
}


button.factor-buttons {
    height: 30px;
    width: 30px;
    line-height: 0;
}

#AddFactorToExcludeButton {
    border-left-width: 0;
    border-right-width: 0;
}

span.chosen-number {
    border: 1px solid var(--border-color);
    border-radius: 15%;
    margin: 8px 2px;
    padding: 4px 8px;
    color: white;
    font-weight: bold;
}
.include {
    background-color: #12bc12;
}
.exclude {
    background-color: red;
}
span.chosen-number button {
    background: none;
    border: none;
    color: white;
}

#InputContainer, #OutputContainer {
    flex: 1;
}

#OutputContainer {
    display: flex;
    flex-flow: row wrap;
    align-items: baseline;
}
.output-number {
    width: 40px;
}
.prime {
    font-weight: bold;
    color: #6817d0;
    font-size: 1.2em;
}
