:root {
    --border-color: #696969;
    --focus-outline-color: #1e5aff;
}

body {
    display: flex;
}

/* Remove dotted focus outline on buttons for Firefox */
button::-moz-focus-inner {
    border: 0;
}

input, button {
    vertical-align: bottom;
    box-sizing: border-box;
    border: 1px solid var(--border-color);
    outline: none;
}

label {
    display: block;
    font-weight: bold;
    margin-bottom: 2px;
}

input {
    height: 30px;
    padding: 0 4px;
}

button {
    cursor: pointer;
    padding: 0;
}

span {
    display: flex;
}


#AddFactorToExcludeButton:hover {
    background-color: hsl(0, 100%, 35%);
    outline: 1px solid black;
    z-index: 1;
    border: none;
    height: 28px;
    margin-top: 1px;
}
#AddFactorToIncludeButton:hover {
    background-color: hsl(120, 100%, 18.92%);
    outline: 1px solid black;
    outline-offset: -1px;
}
input:hover {
    border-color: black;
}


input:focus,
button:focus,
#AddFactorToExcludeButton:focus,
#AddFactorToIncludeButton:focus {
    outline: 2px solid var(--focus-outline-color);
    z-index: 2;
}
#AddFactorToExcludeButton:focus {
    border: none;
    height: 28px;
    margin-top: 1px;
}
#AddFactorToIncludeButton:focus, .chosen-factor button:focus {
    outline-offset: -1px;
}
input:focus {
    outline-offset: -1px;
}


.factor-buttons:active svg {
    width: 10px;
    height: 10px;
}


button.factor-buttons {
    height: 30px;
    width: 30px;
    line-height: 0;
}

#AddFactorToExcludeButton {
    border-left-width: 0;
    border-right-width: 0;
}

span.chosen-factor {
    border: 1px solid var(--border-color);
    border-radius: 15%;
    margin: 8px 2px;
    padding: 4px 8px;
    color: white;
    font-weight: bold;
}
.include {
    background-color: hsl(120, 100%, 33.92%);
}
.exclude {
    background-color: hsl(0, 100%, 50%);
}
span.chosen-factor button {
    background: none;
    border: none;
    color: white;
}

#InputContainer, #OutputContainer {
    flex: 1;
}

#OutputContainer {
    display: flex;
    flex-flow: row wrap;
    align-items: baseline;
}
.output-number {
    width: 52px;
    font-family: 'Open Sans';
}
.prime {
    font-weight: bold;
    color: #6817d0;
}


@font-face {
    font-family: 'Open Sans';
    font-weight: normal;
    font-display: block;
    src: local('Open Sans Regular'), local('OpenSans-Regular'), url(OpenSans-Regular-numbers.woff2) format('woff2');
}
@font-face {
    font-family: 'Open Sans';
    font-weight: bold;
    font-display: block;
    src: local('Open Sans Bold'), local('OpenSans-Bold'), url(OpenSans-Bold-numbers.woff2) format('woff2');
}
