body {
    display: flex;
}
input, button {
    vertical-align: bottom;
    box-sizing: border-box;
    padding: 0;
}

label {
    display: block;
    font-weight: bold;
    margin-bottom: 2px;
}

input {
    height: 30px;
}

button {
    cursor: pointer;
}

span {
    display: flex;
}

button.factor-buttons {
    height: 30px;
    width: 30px;
    line-height: 30px;
}

span.chosen-number {
    border: 2px solid gray;
    border-radius: 20%;
    margin: 8px 2px;
    padding: 4px 8px;
    color: white;
    font-weight: bold;
}
.include {
    background-color: #12bc12;
}
.exclude {
    background-color: red;
}
span.chosen-number button {
    background: none;
    border: none;
    color: white;
}

#InputContainer, #OutputContainer {
    flex: 1;
}

#OutputContainer {
    display: flex;
    flex-flow: row wrap;
    align-items: baseline;
}
.output-number {
    width: 40px;
}
.prime {
    font-weight: bold;
    color: #6817d0;
    font-size: 1.2em;
}
